In [1]:
import sqlite3

In [2]:
db_file = 'data/countries.db'

In [4]:
def dict_factory(cursor, row):
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d

In [3]:
conn = sqlite3.connect(db_file)
conn.row_factory = dict_factory
cur = conn.cursor()

sql_select_all = "SELECT * FROM countries"
all_countries = cur.execute(sql_select_all).fetchall()

all_countries

NameError: name 'dict_factory' is not defined

AttributeError: 'str' object has no attribute 'to_dict'

In [22]:
tuple(requested_countries)

('Andorra',)

In [48]:
conn = sqlite3.connect(db_file)
conn.row_factory = dict_factory
cur = conn.cursor()

#normalized_params = {"Country": ["Algeria", "Andorra"]}
normalized_params = {"Country": "Andorra"}
#normalized_params = {"Continent": "North America"}
#normalized_params = {"Country": ["Algeria", "Andorra"], "Continent": "North America"}


#Check if country was specified
if(normalized_params.get('Country')):
    requested_countries = normalized_params['Country']
    #check if multiple values for country
    if(type(requested_countries) == list):
        country_sql_select = "SELECT * FROM countries WHERE Country IN " + str(tuple(requested_countries))
    #Single value is a string
    else:
        #requested_country= "\'"+requested_countries + "\'"
        #country_sql_select = "SELECT * FROM countries WHERE Country = " + requested_country
        #country_sql_select = "SELECT * FROM countries WHERE Country = '%(Country)s'"
        country_sql_select = "SELECT * FROM countries WHERE Country = ?"
        requested_countries = (requested_countries,)
       
 ## No country requested
else:
    country_sql_select = ""
if(normalized_params.get('Continent')):
    requested_continents = normalized_params['Continent']
    #check if multiple values for country
    if(type(requested_continents) == list):
        continent_sql_select = "SELECT * FROM countries WHERE Region IN " + str(tuple(requested_continents))
    #Single value is a string
    else:
        requested_continent = "\'"+requested_continents + "\'"
        continent_sql_select = "SELECT * FROM countries WHERE Region = " + requested_continent
# No country requested
else:
    continent_sql_select = ""    

#Only countries or empty
if(continent_sql_select == ""):
    params_sql_select = country_sql_select
#Only continents
elif(country_sql_select == ""):
    params_sql_select = continent_sql_select
#Both countries and continents
else:
    params_sql_select = country_sql_select +" UNION " + continent_sql_select
    print(params_sql_select)
    
params_sql_select += ";"
#requested_country_stats = cur.execute(params_sql_select).fetchall()
print("derp:"+str(requested_countries))
requested_country_stats = cur.execute(params_sql_select, requested_countries).fetchall()


conn.close()

'Andorra'
derp:('Andorra',)

In [49]:
requested_country_stats

[{'id': 5,
  'Country': 'Andorra',
  'Region': 'Europe',
  'Population': 71201,
  'Area': 468,
  'Pop_Density': 152.1,
  'Coastline_Ratio': 0.0,
  'Net_Migration': 6.6,
  'Infant_Mortality': 4.05,
  'GDP_Per_Capita': 19000.0,
  'Literacy': 100.0,
  'Phones': 497.2,
  'Arable': 2.22,
  'Crops': 0.0,
  'Other': 97.78,
  'Climate': 3.0,
  'Birthrate': 8.71,
  'Deathrate': 6.25,
  'Agriculture': None,
  'Industry': None,
  'Service': None}]

In [35]:
(normalized_params['Country'],)

('Andorra',)

In [9]:
 "SELECT * FROM countries WHERE Country IN " + str(tuple(requested_countries))

"SELECT * FROM countries WHERE Country IN ('A', 'n', 'd', 'o', 'r', 'r', 'a')"

In [31]:
normalized_params = {"Country": "Andorra"}


requested_countries = normalized_params['Country']
type(requested_countries)

str

In [9]:
requested_continent = "Africa"
continent_sql_select  = "SELECT Region, SUM(Population), SUM(Area), AVG(Pop_Density)"+
                        "FROM countries WHERE Region = " + requested_continent + " GROUP BY " + requested_continent

SyntaxError: invalid syntax (<ipython-input-9-95480fd9ba58>, line 2)

In [10]:
continent_sql_select

'SELECT Region, SUM(Population), SUM(Area), AVG(Pop_Density), FROM countries WHERE Region = Africa GROUP BY Africa'